<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Key-Value Pair</title>
  </head>
  <body>
    <h1>Delete Key-Value Pair</h1>
    <form method="post">
      {% csrf_token %}
      <label for="key">Select Key:</label>
      <select name="key">
        {% for key in data.keys %}
        <option value="{{ key }}">{{ key }}</option>
        {% endfor %}</select
      ><br />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
